/* Pengaturan CSS Dasar */
:root {
    --primary-green: #2E7d32;
    /* primary color */
    --secondary-green-color: #2A6B2D;
    /* secondary color */
    --green-hover-color: #67C16B;
    --light-green-hover-color: #E8F5E8;
    /* hover color */
    --light-green-bg: #E2F6E3;
    /* background color */
    --text-color-dark-green: #0D260F;
    --text-color-green: #4A7C59;
    --text-color-dark: #353535;
    --text-color-light: #FFFFFF;
    --button-color: #265529;
    --border-color: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--light-green-bg);
}

/* Sidebar */
.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
}

.sidebar-header {
    padding: 1.25rem;
    color: var(--text-color-green);
}

.sidebar-header p {
    font-size: 14px;
    padding: 10px 0 10px;
}

.sidebar-header ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-sidebar ul li a {
    color: var(--text-color-green);
    text-decoration: none;
    font-size: 14px;
    display: flex;
    width: 100%;
    padding: 12px 20px;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    box-sizing: border-box;
}

.nav-sidebar ul li a.active {
    background-color: var(--light-green-hover-color);
    font-weight: 600;
    transition: 0.2s ease-in-out ;
}

.nav-sidebar ul li a:hover {
    background: var(--light-green-hover-color);
}

.sidebar-icon {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    object-fit: contain;
}
